.forms{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    
}
.input-f{
    width: 10rem;

}
.button{
background-color: blue;
}
.containerForm{
    padding: 5rem;

}