*{
    text-align: center;
}

.card1-container{
    padding-top: 80px;
    display: flex;
    gap: 5rem;
    padding-left: 100px;
    flex-wrap: wrap;


}
.iconv{
    color: darkblue;
}
.main{
    display: flex;
    gap: 5rem;
}
.main2{
    background-color: whitesmoke;
}
.main1{
    display: flex;
    float: right;
}
.filter{
    width: 35px;
    height: 30px;
    
}
